@import url("https://rsms.me/inter/inter.css");

html, body {
  background: #222;
  color: #fff;
}

body {
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

main {
  padding: 60px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}

section {
  margin: 0 0 40px;
}

section:last-child {
  margin-bottom: 0;
}

h1 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

p:last-child {
  margin-bottom: 0;
}

.conclusion {
  font-size: 24px;
  text-align: center;
}

.conclusion a {
  text-decoration: none;
}

.team {
  margin-top: 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.team a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.team a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 60px;
}

.logo-wrapper img {
  display: block;
}

.editions {
  padding: 50px 0 0;
}

.edition {
  margin: 0 0 30px;
  padding: 0 0 30px;
}

.edition-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.edition-title span {
  padding: 0 10px;
  background: #222;
}

.edition-title em {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.edition-title em:before {
  margin: 0 0 0 0.25em;
  content: '(';
}

.edition-title em:after {
  content: ')';
}

.edition-content {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: -14px 0 0;
  padding: 40px 0 0;
}

.edition-talk {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.edition-talk strong {
  display: block;
}

.edition-talk a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.edition-talk-avatar {
  max-width: 48px;
  min-width: 48px;
  margin: 0 15px 0 0;
  filter: grayscale(100%);
}

@media (max-width: 600px) {
  .edition-title {
    text-align: left;
  }

  .edition-title span {
    padding-left: 0;
    padding-right: 0;
  }

  .edition-content {
    border-top: 0;
  }
}
